@font-face {
    font-family: 'Pally-Medium';
    src: url('/assets/fonts/Pally-Medium.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    width: 100vw;
    height: 150vh;
    background-color: rgb(0, 0,0);
    background-image: url(/assets/backgrounds/background-personagens-mesh.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1.8px black;
    font-family: 'Pally-Medium';
    src: url('/assets/fonts/Pally-Medium.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.infos {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding: 12em 0em;
    flex-direction: column;
    gap: 60px;
}
.descricao {
    color: white;
    font-size: 32px;
    -webkit-text-stroke: 1.5px black;
    font-family: 'Pally-Medium';
    src: url('/assets/fonts/Pally-Medium.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    display: flex;
    padding-right:10em;
}

.status {
    color: white;
    font-size: 32px;
    -webkit-text-stroke: 1.5px black;
    font-family: 'Pally-Medium';
    src: url('/assets/fonts/Pally-Medium.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    display: flex;
    padding-right:25em;
}

.visto {
    color: white;
    font-size: 32px;
    -webkit-text-stroke: 1.5px black;
    font-family: 'Pally-Medium';
    src: url('/assets/fonts/Pally-Medium.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    display: flex;
    padding-right: 18em;
}
.primeira-aparicao {
    color: white;
    font-size: 32px;
    -webkit-text-stroke: 1.5px black;
    font-family: 'Pally-Medium';
    src: url('/assets/fonts/Pally-Medium.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    display: flex;
    padding-right:13em;
}

.voltar {
    color: white;
    font-size: 32px;
    -webkit-text-stroke: 1.5px black;
    font-family: 'Pally-Medium';
    src: url('/assets/fonts/Pally-Medium.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    display: flex;
    padding-right: 3em;
}
